.product {
  color: #0082ef;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
}
.headerDashbord {
  display: flex;
  justify-content: space-between;
border-radius: 15px;
  background: #0082ef;
  color: white;
}
.catagory {
  text-decoration: none;
  padding-right: 16px;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: white;
}
.catagory:hover {
  background: white;
  transition: 0.5s;
  border-radius: 10px;
  border: none;
  color: #1b9bff;
}
.h1 {
  color: #0082ef;
}
.imgcard {
  width: 30vw;
  height: 30vh;
  border-radius: 30%;
}
.bodycard {
  height: 45vh;
  background: white;
}
.headardash {
  margin-left: 1vw;
}
.card {
  margin: 2px;
  margin-bottom: 2vh;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 2px 2px 2px 2px blue inset;
  border-radius: 50px;
  transition: 0.5;
  transform: translateY(4px);
}
.imgcard {
  width: 40vw;
  height: 40vh;
}
.imgcard:hover {
  opacity: 0.2;
}

.bodycard:hover {
  opacity: 0.5;
}
.inputsearch {
  border: none;
  font-size: large;
  border-radius: 20px;
  width: 25vw;
}
.inputsearch :focus {
  
  width: 200px;

}
.headarsearch {
  border: 1px solid #0082ef;
  margin-left: 7px;
  padding-bottom: 0;
  padding-left: 3px;
  border-radius: 20px;
  /* width: 200px; */
  height: 6vh;

}
.select{
width: 80px;
border: none;
border-radius: 16px;

}
@media screen and (max-width: 471px) {
  .product {
    color: #0082ef;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
  }
  .bodycard {
    width: 40vw;
    height: 37vh;
    background: white;
    align-self: center;
  }
}
@media screen and (max-width: 350px) {
  .product {
    color: blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    padding: 0;
  }
  .bodycard {
    width: 100vw;
    height: 36vh;
    background: white;
    align-self: center;
    font-size: small;
  }
  .imgcard {
    width: 100vw;
    height: 35vh;
  }
  .cardheader {
    margin-left: 1vw;
    font-size: 15px;
  }
  .cardTitle {
    font-size: 7px;

    padding: 0;
  }
  .card {
    margin: 0px;
    margin-bottom: 0vh;
    border-radius: 0px;
    padding: 0;
  }
  .Button {
    size: "sm";
  }
  .h1 {
    font-size: small;
    color: red;
  }
  .headarsearch{
    font-size: 10px;

  }
  .inputsearch{
   display: inline;
  }
  .icon{
    height: 30px;
    font-size: 3px;
    width: 25px;

  }
  .list{
    display: flex;
    width: 65px;
    height: 25px;
    font-size: 13px;


  }
  .label{
    display: inline;
    font-size: 15px;
  }
}
