.product {
  color: #0082ef;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
  font-weight: bold;
  text-shadow: 1px black;
}
.headerDashbord {
  display: flex;
  justify-content: space-between;
border-radius: 15px;
  background: #0082ef;
  color: white;
  align-items: center;
  
}
.catagory {
  text-decoration: none;
  padding-right: 16px;
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: white;
}
.catagory:hover {
  background: white;
  transition: 0.5s;
  border-radius: 10px;
  border: none;
  color: #1b9bff;
}
/* .h1 {
  color: #0082ef;
} */
.imgcard {
  width: 30vw;
  height: 30vh;
  border-radius: 30%;
}
.bodycard {
  height: 45vh;
  background: white;
  /* background-image: url('../../../public/Screenshot_2.png'); */
background-repeat: no-repeat ;
background-size: cover;
color: white;
position: static;
}
.imgbody{
  opacity: .3;
  position:absolute;
  width:31vw;
  height: 45.4vh;
  top: 6vh;
  left:-0vw;
 
}
.headardash {
  margin:  0px  0px  0px  0px;
}
.card {
  margin: 2px;
  margin-bottom: 2vh;
  border-radius: 20px;
}
.card:hover {
  box-shadow: 2px 2px 2px 2px blue inset;
  border-radius: 50px;
  transition: 0.5;
  /* transform:scale(2,2); */
}
.imgcard {
  width: 40vw;
  height: 40vh;
}
.imgcard:hover {
  opacity: 0.2;
}

.bodycard:hover {
  opacity: 0.5;
}
.inputsearch {
  border: none;
  font-size: large;
  border-radius: 20px;
  width: 25vw;
  text-align: center;

}
.inputsearch :focus {
  
  width: 200px;

}
.headarsearch {
  
 
  
 
  border-radius: 20px;
  /* width: 200px; */
  

}
.select{
width: 80px;
border: none;
border-radius: 16px;
cursor: pointer;

}
.icon{
  cursor: pointer;

}
.icon:active{
  transform: translateY(4px);

}
.label{
text-align: center;
margin-left: 3vw;

}
@media screen and (max-width: 471px) {
  .product {
    color: #0082ef;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0;
  }
  .bodycard {
    width: 40vw;
    height: 30vh;
    background: white;
    align-self: center;
  }
}
@media screen and (max-width: 350px) {
  .product {
    color: blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    padding: 0;
  }
  .bodycard {
    width: 100vw;
    height: 36vh;
    background: white;
    align-self: center;
    font-size: small;
  }
  .imgcard {
    width: 100vw;
    height: 35vh;
  }
  .cardheader {
    margin-left: 1vw;
    font-size: 15px;
  }
  .cardTitle {
    font-size: 7px;

    padding: 0;
  }
  .card {
    margin: 0px;
    margin-bottom: 0vh;
    border-radius: 0px;
    padding: 0;
  }
  .Button {
    size: "sm";
  }
  .headerDashbord {
    font-size: small;
   border-radius: 10px;
  }
  .headarsearch{
    font-size: 10px;

  }
  .inputsearch{
   display: inline;
  }
  .icon{
    height: 35px;
    font-size: 5px;
    width: 44px;
    margin-right: 10px;

  }
  .list{
    display: flex;
    width: 65px;
    height: 25px;
    font-size: 13px;


  }
  .label{
    display: inline;
    font-size: 14px;
  }
  .select{
width: 55px;

  }
  .btnheader{

  }
}
@media screen and (max-width: 250px) {
  .product {
    color: blue;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto; */

    padding: 0;
  }
  .bodycard {
    width: 100vw;
    height:75vh;
    background: red;
    align-self: center;
    font-size: small;
  }
  .imgcard {
    width: 100vw;
    height: 55vh;
    opacity: 0;
  }
  .cardheader {
    margin-left: 1vw;
    font-size: 15px;
   
  }
  .cardTitle {
    font-size: 10px;

    padding: 0;
  }
  .card {
    margin: 0px;
    margin-bottom: 0vh;
    border-radius: 0px;
    padding: 0;
  }
  .Button {
    size: "sm";
  }
  .headerDashbord {
    font-size: small;
   border-radius: 10px;
  }
  .headarsearch{
    border: none;

  }
  .inputsearch{
  margin-right: 3px;
  text-align: center;
  }
  .inputsearch::placeholder{
   font-size: 14px;
    }
  .icon{
    height: 35px;
    font-size: 5px;
    width: 44px;
    margin-right: 4px;
opacity: 0;
  }
  .list{
    display: flex;
    width: 65px;
    height: 25px;
    font-size: 13px;


  }
  .label{
    display: inline;
    font-size: 9px;
    align-self: center;
  }
  .select{
width: 55px;

align-self: center;
  }
  .btnheader{
opacity: 1;
  }
}
